#education {
  background: var(--bg);
  color: var(--txt);
  border-bottom: 1px solid var(--brd);
  /* max-width: var(--max);  same as header */
  margin: 0 auto;         /* center section */
  padding: 40px 20px;     /* match header spacing */
}



#education h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem; 
  text-align: center;
}

.timeline {
  position: relative;
  margin: 0 auto;
  max-width: 700px;       /* keeps timeline narrower */
  padding-left: 20px;     /* offset so line & dot sit inside container */
}

/* Vertical line */
.timeline::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2px; 
  background: var(--acc);
  opacity: 0.3;
}

.timeline-item {
  position: relative;
  margin-bottom: 50px; 
  padding-left: 36px; 
}

/* Dot */
.timeline-item::before {
  content: "";
  position: absolute;
  left: -6px;
  top: 6px;
  width: 14px;
  height: 14px;
  background: var(--acc);
  border-radius: 50%;
  transition: transform 0.2s;
}

.timeline-item:hover::before {
  transform: scale(1.4);
}

/* Year pill */
.timeline-year {
  font-size: 0.6rem;
  padding:2px 4px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--acc);
  background: rgba(224, 48, 48, 0.1);
  border: 1px solid rgba(224, 48, 48, 0.25);
  
  border-radius: 100px;
  white-space: nowrap;
}

.timeline-content h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 6px;
  color: var(--txt);
  line-height: 1.4;
}

.timeline-content .college {
  font-size: 0.9rem;
  color: var(--acc3);
  font-weight: 500;
  margin-bottom: 6px;
}

.timeline-content .details {
  font-size: 0.9rem;
  line-height: 1.6;
  color: var(--txt2);
  margin-bottom: 10px;
}


.status {
  display: inline-block;
  padding: 4px 12px;
  font-size: 0.9rem;
  border-radius: 100px;
  font-weight: 500;
  border: 1px solid;
}

.status.ongoing {
  background: rgba(224, 48, 48, 0.098);
  color: var(--acc3);
  border-color: rgba(213, 44, 44, 0.345);
}

.status.completed {
  background: rgba(58, 201, 87, 0.1);
  color: #3ecf5a;
  border-color: rgba(62, 207, 90, 0.25);
}

/* Mobile */
@media (max-width: 768px) {
  #education h2 {
    font-size: 1.5rem;
  }
  .timeline-item {
   
    margin-bottom: 40px;
  }
  .timeline-content h3 {
    font-size: 0.9rem;
  }
  .timeline-item::before {
    width: 12px;
    height: 12px;
    left: -5px;
  }
}