.footer-class {

  padding: 40px 20px;
  background: var(--bg);
  text-align: center;

  max-width: var(--max);
  margin: auto;
}

/* Icon Row */
.footer-links {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 16px;
}

/* Icon Buttons */
.footer-links a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 42px;
  height: 42px;

  border-radius: 50%;
  border: 1px solid var(--brd2);

  color: var(--txt2);
  font-size: 18px;

  transition: all 0.3s ease;
}

/* Hover Effect */
.footer-links a:hover {
  color: var(--bg);
  background: var(--acc);
  border-color: var(--acc);
  transform: translateY(-3px) scale(1.05);
}


.footer-class span {
  display: block;
  font-size: 0.8rem;
  color: var(--txt2);
  margin-bottom: 6px;
}

/* Text */
.footer-class p {
  font-size: 0.8rem;
  color: var(--txt2);
  margin: 4px 0;
}

/* Mobile */
@media (max-width: 768px) {
  .footer-class {
    padding: 30px 16px;
  }

  .footer-links {
    gap: 12px;
  }
}