/* Header Section */
.header {
  padding: 40px 20px;
  background: var(--bg);
  border-bottom: 1px solid var(--brd);
}

/* Container */
.header-container {
  max-width: var(--max);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 0 24px;
  flex-wrap: wrap; /* prevents overflow on smaller screens */
}

/* Text */
.header-text {
  flex: 1;
}

.header-text h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--txt);
}

.header-text h2 {
  font-size: 1.5rem;
  text-align: left;
  color: var(--acc);
  margin: 10px 0;
}

.header-text p {
  font-size: 0.9rem;
  color: var(--txt2);
  line-height: 1.6;
  margin-bottom: 20px;
  max-width: 500px;
}

/* Button */
.header-btn {
  padding: 10px 22px;
  border: 1px solid var(--acc);
  background: var(--acc);
  color: #fff;
  border-radius: var(--radius-sm);
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.header-btn:hover {
  background: transparent;
  color: var(--acc);
  border-color: var(--acc);
}

/* Image */
.header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

/* Glow Behind Image */
.header-image::before {
  content: "";
  position: absolute;
  width: 320px;
  height: 320px;
  background: var(--acc);
  filter: blur(30px);
  opacity: 0.1;
  border-radius: 50%;
  z-index: 0;
  transition: all 0.3s ease;
}

.header-image:hover::before {
  opacity: 0.2;
  transform: scale(1.05);
}

/* Profile Image */
.header-image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  border: 2px solid var(--brd2);
  transition: transform 0.3s ease;
}

.header-image img:hover {
  transform: scale(1.05);
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .header-text h1 {
    font-size: 28px;
    
  }

  .header-text p {
    margin: auto;
    max-width: 90%;
  }
.header-text h2 {
    text-align: center;
  }
  .header-image img {
    width: 200px;
    height: 200px;
  }

  .header-image::before {
    width: 220px;
    height: 220px;
    filter: blur(25px);
    opacity: 0.1;
  }
}