.Navbar{
  
  border-bottom: 1px solid var(--brd);
}
.navBar {
  background: var(--bg);
  padding: 0.5rem 1rem;           
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  max-width: var(--max);
  margin: 0 auto;
}

.logo {
  font-family: 'Syne', sans-serif;
  font-size: 20px;              
  font-weight: 700;
  color: var(--txt);
}

.name {
  color: var(--acc);
}

/* Links */
.navLinks {
  display: flex;
  gap: 24px;                    
  list-style: none;
}

.navLinks li {
  font-size: 15px;             
  color: var(--txt2);
  cursor: pointer;
  transition: color 0.2s, background 0.2s;
  padding: 6px 8px;           
  border-radius: 6px;
}

.navLinks li:hover {
  color: var(--acc);
  background: var(--bg2);      
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.line {
  width: 24px;
  height: 2px;
  background: var(--txt);
  transition: 0.3s;
}

.line.active:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.line.active:nth-child(2) {
  opacity: 0;
}
.line.active:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

/* Mobile */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .navLinks {
    position: absolute;
    top: 64px;                  
    left: 0;
    right: 0;
    background: var(--bg);
    flex-direction: column;
    padding: 16px 24px;
    gap: 12px;
    display: none;
  }

  .navLinks.open {
    display: flex;
  }

  .navLinks li {
    padding: 12px;
    text-align: center;
  }

  .navLinks li:hover {
    background: var(--bg2);
    color: var(--acc);
  }

  .navLinks li:active {
    background: var(--acc);
    color: #fff;
  }
}